@import "bootstrap-sprockets";
@import "bootstrap";

html {overflow-y:scroll;}
body {padding-top:60;}
section {overflow:auto;}
textarea {resize:vertical;}
.center {text-align:center;}
.center h1 {margin-bottom:60;}